Fill the form and wait for staff to approve!

<center>
<p>
<form action="/ApplyCarForm" method="post">
    Username: <input name="UserName" type="text" />
</br>
	Car number: <input name="carNumber" type="text" />
</br>
	Brand: <input name="Brand" type="text" > 
</br>
    Model: <input name="Model" type="text" > 
</br>
    Color: <input name="Color" type="text" > 
</br>
    Have been safty checked?: <input name="SafetyCheck" type="text" > 
</br>
    
    <input value="submit" type="submit" />
</form>
</p>
</center>