Edit your information



<form action="/edit" method="post">
  <p></b>Username</b>: {username}</p>

    Password: <input name="password" type="password" />
</br>
    Confirm Password: <input name="confirmPassword" type="password" />
</br>
    Email: <input name="email" type="text" />
</br>
    Member Type
    <input name="member type" type="radio" value="public"/> Public
    <input name="member type" type="radio" value="road safety officers"/> Road safety officers
</br>
    <input value="submit" type="submit" />
</form>
</p>
</center>
