<head>
<link rel="stylesheet" type="text/css" href="css/temp.css">
<css src="css/temp.css">
<title>The Road Transport Authority System</title>
</head>

<video autoplay muted loop style="width:100%;">
	<source src="img/background.mp4">
</video>

<style>
	video {
		position:absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: -99;
		pointer-events: none;
		width: auto;
		height: auto;

		background-size:auto auto;
	}
	h1 {
		padding-top: 90;
		padding-bottom: 30;
		font-size:60
	}
</style>

<p>
<ul>
  <li><a class="active" href="/home">Home</a></li>
  <li><a href="/main">Main</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/register">Register</a></li>
  <li><a href="/about">About</a></li>
</ul>
</p>
<center><h1><font color="white">The Road Transport Authority System</h1>

<div>

</div>
