
</p>
<p>
<font size="9">You are normal people</font>
</p>
<h3>
<form action="/saleCar" method="post">
    Sale Your Car Here <input value="Sale" type="submit" />
</form>
<form action="/apply_License" method="post">
    Apply License <input value="Apply" type="submit" />
</form>
<form action="/renew_License" method="post">
    Renew License <input value="Renew" type="submit" />
</form>
<form action="/CarForm" method="post">
    Register your car <input value="Car info." type="submit" />
</form>
</h3>
</center>


</p>
</center>
