
<p>
<font size="9">Staff page</font>
<h2>
<br> functions... <br>
</h2>

<h3>
<form action="/APLA" method="get">
	<input value="Approve/Reject license appliaction" type="submit">
</form>
</br>
<form action="/ApproveVehicleRegister" method = "get">
	<input value="Approve/Reject vehicle register" type="submit">
</form>
</br>
<form action="/AP" method="get">
	<input value="Approve payment" type="submit">
</form>
</br>
<form action="/RL" method="get">
	<input value="Revoke License" type="submit">
</form>
</h3>
</p>
</center>
