<h2>register with a username and password
<br><b>
The authentication number after register will be set to the first digit and the last digit of your username</b>
</p></h2>

<h3>
<form action="/register" method="post">
    Username: <input name="username" type="text" />
</br>
    Password: <input name="password" type="password" />
</br>
    Confirm Password: <input name="confirmPassword" type="password" />
</br>
    Email: <input name="email" type="text" />
</br>
    Member Type
    <input name="member type" type="radio" value="public"/> Public
    <input name="member type" type="radio" value="road safety officers"/> Road safety officers
</br>
    <input value="Register" type="submit" />
</form>
</h3>

</center>
